<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <menuitem label="Caixa">
    <icon>fas:cash-register fa-fw</icon>
    <menu>
      <menuitem label="Vendas">
        <action>AssistenceSaleList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
      <menuitem label="Serviços">
        <action>AssistenceOfficeList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
      <menuitem label="Contas a pagar">
        <action>AssistencePayableList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
      <menuitem label="Despesas">
        <action>AssistenceExesList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Cadastro">
    <icon>fas:address-book fa-fw</icon>
    <menu>
      <menuitem label="Produtos">
        <action>AssistenceProductList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
      <menuitem label="Marcas">
        <action>AssistenceBrandList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
      <menuitem label="Estoque">
        <action>AssistenceInventoryList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
      <menuitem label="Funcionario">
        <action>AssistenceEmployeeList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Extras">
    <icon>fas:folder-plus fa-fw</icon>
    <menu>
      <menuitem label="Tipos de serviço">
        <action>AssistenceOfficeTypeFormList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
      <menuitem label="Formas de pagamento">
        <action>AssistenceSaleTypeFormList</action>
        <icon>fas:arrow-alt-circle-right fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Administration}">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>AssistenceDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="Admin Dashboard">
        <action>SystemAdministrationDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Programs}">
        <action>SystemProgramList</action>
        <icon>far:file-code fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Groups}">
        <action>SystemGroupList</action>
        <icon>fas:users fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Units}">
        <action>SystemUnitList</action>
        <icon>fas:university fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Users}">
        <action>SystemUserList</action>
        <icon>fas:user fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Database explorer}">
        <action>SystemDatabaseExplorer</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Panel}">
        <action>SystemSQLPanel</action>
        <icon>fas:table fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <action>SystemMenuEditor</action>
        <icon>far:edit fa-fw</icon>
      </menuitem>
      <menuitem label="PHP Info">
        <action>SystemPHPInfoView</action>
        <icon>fas:info-circle fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Preferences}">
        <action>SystemPreferenceForm#method=onEdit</action>
        <icon>fas:cog fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logs">
    <icon>fas:desktop fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <action>SystemLogDashboard</action>
        <icon>fas:tachometer-alt fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Access Log}">
        <action>SystemAccessLogList</action>
        <icon>fas:key fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Change Log}">
        <action>SystemChangeLogView</action>
        <icon>fas:film fa-fw</icon>
      </menuitem>
      <menuitem label="_t{SQL Log}">
        <action>SystemSqlLogList</action>
        <icon>fas:database fa-fw</icon>
      </menuitem>
      <menuitem label="_t{Request Log}">
        <action>SystemRequestLogList</action>
        <icon>fas:globe fa-fw</icon>
      </menuitem>
      <menuitem label="_t{PHP Log}">
        <action>SystemPHPErrorLogView</action>
        <icon>fas:exclamation-triangle fa-fw</icon>
      </menuitem>
      <menuitem label="Session dump">
        <action>SystemSessionDumpView</action>
        <icon>fas:code fa-fw</icon>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <action>LoginForm#method=onLogout#static=1</action>
    <icon>fas:sign-out-alt fa-fw</icon>
  </menuitem>
</menu>
